<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punctuation_Tester</title>
</head>
<body>
    <h1>Welcome to Text Editor</h1>
    <form action="./analyzer" method="get">
        <textarea name="textarea" id="" cols="30" rows="10" placeholder="Enter Your Text Here!"></textarea><br>
        <input type="checkbox" name="puncremove" id="">Punctuation Remover
        <input type="checkbox" name="upcase" id="">Uppercase Converter
        <input type="checkbox" name="lowcase" id="">Lowercase Converter
        <input type="checkbox" name="chrcount" id="">Character Counter
        <input type="checkbox" name="istitle" id="">Is Title checker <br>
        <button type="submit">Analyze</button>
    </form>

</body>
</html>