<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Form </title>
</head>
<body>
    <h1>My First backend Form By Django!</h1>
    <form action="./login_credentials" method="get">
        <input type="text" placeholder="Enter Your Name" name="name"><br>
        <input type="email" name="email" id="" placeholder="Enter your email"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <input type="checkbox" name="check" id="">Agree To Terms And Services<br>
        <button type="reset">eset</button>
        <button type="submit">Check My Data</button>
    </form>
</body>
</html>